matplotlib
Bottleneck==1.3.2
certifi==2021.5.30
charset-normalizer==2.0.7
cycler==0.10.0
docopt==0.6.2
fonttools==4.25.0
idna==3.3
kiwisolver @ file:///C:/ci/kiwisolver_1612282618948/work
matplotlib @ file:///C:/ci/matplotlib-suite_1628011511716/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///C:/ci/numexpr_1618856761305/work
numpy==1.21.2
olefile==0.46
pandas @ file:///C:/ci/pandas_1632920019983/work
Pillow @ file:///C:/ci/pillow_1625663286921/work
pipreqs==0.4.11
pyaml @ file:///home/linux1/recipes/ci/pyaml_1610972911625/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
PyYAML==5.4.1
requests==2.26.0
scipy==1.7.1
seaborn==0.11.2
six @ file:///tmp/build/80754af9/six_1623709665295/work
tornado @ file:///C:/ci/tornado_1606935947090/work
urllib3==1.26.7
wincertstore==0.2
yarg==0.1.9
